<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/src/arquivos/contato.css">
</head>
<body>
    
    <section id="banner">
        
        <div class="listas wrapper">

            <div class="primeiraLista">
                <ul>
                    <li><img src="../../assets/src/arquivos/img/Produtos/produto_1.png" alt=""></li>
                    <li><a href="#" class="comprar">comprar</a></li>            
                </ul>
            </div>
        
            <div class="segundaLista">
                <ul>
                    <li class="produto"><img src="../../assets/src/arquivos/img/Produtos/produto_2.png" alt=""></li>
                    <li class="produto"><img src="../../assets/src/arquivos/img/Produtos/produto_3.png" alt=""></li>
                    <li class="produto"><img src="../../assets/src/arquivos/img/Produtos/produto_4.png" alt=""></li>
                    <li class="produto"><img src="../../assets/src/arquivos/img/Produtos/produto_5.png" alt=""></li>
                    <li class="produto"><img src="../../assets/src/arquivos/img/Produtos/produto_6.png" alt=""></li>
                </ul>
            </div>

        </div>
        
        



    </section>
    
</body>
</html>