<link rel="stylesheet" href="../../assets/src/arquivos/contato.css">

<section id="contato">

    <div class="wrapper">

        <div class="breadcumb">
            <a href="#">home</a>
            <a href="#">/</a>
            <a href="#">institucional - ajuda e suporte</a>
        </div>

        <div class="main">        

            <div class="menu_side_left">
                <ul>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Encontre uma loja</a></li>
                    <li class="active"><a href="#">Contato</a></li>
                    <li><a href="#">Atacado</a></li>
                    <li><a href="#">Como comprar</a></li>
                    <li><a href="#">Termos e condições de uso</a></li>
                    <li><a href="#">Política de entrega</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                </ul>
            </div>

            <div class="menu_side_right">
                <div class="titulo">                    
                    <h3>Contato</h3>                     
                </div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod molestiae laudantium possimus eligendi error porro dolorem? Dolore eligendi sunt ab! Quas dolores similique voluptate quis minus excepturi molestiae. Impedit, suscipit!</p>
                <p>Deixe sua mensagem em nossa central de atendimento</p>
                <p>
                    Capitais e Regiões Metropolitanas: <strong>3003-0385</strong> 
                    <br>
                    Outras cidades: <strong> (21) 3003-0385</strong>
                </p>
                <p>Whatsapp: <strong>(21) 98328-0189</strong></p>
                <p>Atendimento: <strong>Seg à Sex (10:00 às 19:00)</strong></p>
                <p>Email: <strong>converse@voucomprar.com</strong></p>

                <form action="#" class="form">
                    <div class="text_short">
                        <label for="text_name">Nome</label>
                        <input type="text" id="text_name">                    
                    </div>

                    <div class="text_short">
                        <label for="text_email">Email</label>
                        <input type="text" id="text_email">                    
                    </div>

                    <div class="text_area">
                        <label for="text_name">Mensagem</label>
                        <textarea name="text_message" id="" cols="30" rows="10"></textarea>                 
                    </div>

                    <button class="button_enviar">Enviar</button>      
                </form>
            </div>
            
        </div>

    </div>
    
    


</section>