<link rel="stylesheet" href="../../assets/src/arquivos/contato.css">

<footer id="footer">
	
	<div class="footer_top">
		<div class="wrapper itens">

			<div class="links">

				<div class="institucional nav">
					<h3>Institucional</h3>
					<ul>
						<li><a href="#">Quem Somos</a></li>
						<li><a href="#">Encontre uma loja</a></li>
						<li><a href="#">Contato</a></li>
						<li><a href="#">Atacado</a></li>
					</ul>
				</div>
		
				<div class="ajuda nav">
					<h3>Ajuda e suporte</h3>	
					<ul>
						<li><a href="#">Como comprar</a></li>
						<li><a href="#">Termos e Condições de Uso</a></li>
						<li><a href="#">Política de Entrega de Produtos</a></li>
						<li><a href="#">Política de Troca e Devolução</a></li>
						<li><a href="#">Política de Privac. e Segurança</a></li>
					</ul>
				</div>
				
			</div>	
			
			
			<div class="selos">

			
				<div class="pagamento">
					<h3>Pagamento</h3>
					<div class="bandeiras">
						<ul>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt=""></li>
						</ul>
					</div>
		
					<div class="boleto">
						<h4>Boleto bancário</h4>
						<img src="../../assets/src/arquivos/img/Cartoes/mastercard.png" alt="">
							
					</div>
		
				</div>
		
				<div class="certificados">
					<h3>Certificados e segurança</h3>
					<div class="bandeiras">
						<ul>
							<li><img src="../../assets/src/arquivos/img/Certificados/vtex.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Certificados/google.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Certificados/ebit.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Certificados/compre&confie.png" alt=""></li>
							<li><img src="../../assets/src/arquivos/img/Certificados/encrypt.png" alt=""></li>
						</ul>
					</div>
				</div>

				<div class="contato">
					<h3>Compre pelo telefone</h3>
					<div class="telefone">
						<h4>11 4005-9596</h4>
						<p>(Seg a Sex das 09h as 20h)</p>
					</div>
		
					<div class="sociais">
						<h4>Redes sociais</h4>
						<div class="bandeiras">
							<ul>
								<li><img src="../../assets/src/arquivos/img/Sociais/facebook.png" alt=""></li>
								<li><img src="../../assets/src/arquivos/img/Sociais/twitter.png" alt=""></li>
								<li><img src="../../assets/src/arquivos/img/Sociais/instagram.png" alt=""></li>
								<li><img src="../../assets/src/arquivos/img/Sociais/pinterest.png" alt=""></li>
							</ul>
						</div>
						
					</div>
				</div>

			</div>

			
					
		
		
			
				
		</div>
	</div>

		

	<div class="footer_bottom">

		<div class="wrapper">
		
			<div class="autorais">
				<p>
					2017 Vou Comprar É Lojas Bandeirantes. Todos os direitos reservados 
					<br>
					CNPJ: 04.499.742/0002-45 / Razão Social: Rangelar Utilidades LTDA. / Endereço: Rua Conde Bonfim, 258 - Tijuca, Rio de Janeiro - RJ
				</p>
			</div>

			<div class="logos">
				
				<a href="#" class="logo vtex">
					<img src="../../assets/src/arquivos/img/vtex.png" alt="">
				</a>
				
				<a href="#" class="logo ecan">
					<img src="../../assets/src/arquivos/img/ecan.png" alt="">
				</a>
				
			</div>

		</div>

	</div>

</footer>
