<link rel="stylesheet" href="../../assets/src/arquivos/contato.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav id="header">

	<div class="main_menu">
		<div class="wrapper">
		
			<div class="menu_top">
				<div class="telefone">
					<p>Compre pelo telefone: (21) 3003-0385</p>
				</div>

				<div class="navigation">
					<ul>					
						<li><a href="#">Nossas Lojas</a></li>
						<li><a href="#">Precisa de Ajuda?</a></li>
						<li><a href="#">Seus Pedidos</a></li>
					</ul>
				</div>
				
			</div>

			<div class="menu_mid">
				<div class="logo">
					<img src="../../assets/src/arquivos/img/logo.png" alt="">
				</div>

				<div class="search">
					<fieldset>
						<input type="text" placeholder="O que você está procurando?" class="input_search">							
						<a href="#" class="button_search">Buscar</a>
					</fieldset>
					
				</div>

				<div class="user">
					<a href="#" class="icone">
						<img src="../../assets/src/arquivos/img/user.png" alt="">
						<span class="texto">
							Bem-vindo!
							<br>
							Entre ou cadastre-se
						</span>
					</a>
					<a href="#" class="icone carrinho">
						<span><img src="../../assets/src/arquivos/img/cart.png" alt=""></span>
						<span class="notificacao">4</span>
					</a>
				</div>
			</div>

		</div>		
		
	</div>


	<div class="menu_bottom wrapper">			
            
		<div class="dropdown" id="dropdown">
			<a onclick="mostrar_menu()">
				<img src="../base/assets/src/arquivos/img/menu.png" alt="">
				<span href="#" class="texto">Todos os departamentos</span>
			</a>			
			<div class="dropdown_content hide"  id="dropdown_content">
				<a href="#">Casa</a>
				<a href="#">Infantil</a>
				<a href="#">Utilidades</a>
				<a href="#">Papelaria</a>
				<a href="#">Confeitaria</a>
				<a href="#">Eletrônicos</a>
			</div>
		</div>

		<div class="navigation">
			<ul>
				<li><a href="#">Casa</a></li>
				<li><a href="#">Infantil</a></li>
				<li><a href="#">Utilidades</a></li>
				<li><a href="#">Papelaria</a></li>
				<li><a href="#">Confeitaria</a></li>
				<li><a href="#">Eletrônicos</a></li>
			</ul>
		</div>
	</div>


</nav>